<!DOCTYPE html>
<html>

<head>
  <title>The Burger App</title>
  <link rel="icon" href="/assets/img/Krabby_Patty.png">
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>

<body>

  <!-- Main Container -->
  <div class="container">
    <br>
    <!-- The image -->
    <center>
      <div class="row">
        <img src="/assets/img/Krabby_Patty.png">
      </div>
    </center>

    <!-- Page Title -->
    <center>
      <h1 >The Burger App</h1>
    </center>
    <br>
    <!-- Using handlebars to feed the info of the page content from <index.handlebars> file -->
    {{{body}}}
    <br><br>

    <!-- Form for new burger -->
    <form action="burger/create" method="POST">
      <div class="row">
        <div class="col-md-3"></div>
        <!-- Burger Input Box -->
        <div class="form-group col-md-6">
          <center><label for="new_burger">Add new burger</label></center>
          <textarea class="form-control" columns="8" rows="4" id="new_burger" name="burger_name"></textarea>
        </div>
        <div class="col-md-3"></div>
      </div>
      <!-- Add Button -->
      <center>
        <button id="submit-button" type="submit" class="btn btn-danger">ADD</button>
      </center>
    </form>
    <br>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>

</html>